body {
  /*background-image: url('./componentes/black-textured.jpg');*/
 color: white;
 background-color: #45505b;
 font-family: 'Fuzzy Bubbles', cursive;
}
p{
  font-size: 25.89px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Kaushan Script', cursive;
  
}



section {
  padding: 60px 0;
  overflow: hidden;
}

.section-title > p{
  text-align: start;
  padding-bottom: 30px;  
}
.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 109.66px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #45505b;
}

.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 500px;
  height: 128px;
  background: #ddd;
  bottom: 20px;
  /*left: calc(50% - 60px);*/
  transform-origin: center;
  left: calc(50% - 230px);
  z-index: -10000;
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #0563bb;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title p {
  margin-bottom: 0;
  font-family: 'Fuzzy Bubbles', cursive; 
  
}

